<div class="main">
<div class="footer">
<a href="#" id="${el.id}" name ="toBusket" class="btn btn-primary"> Оформить заказ </a>
<span>Итого:{{sum}}₽</span>
</div>
</div>

<script defer src="/front.js"></script>
