<main class="main" role="main">
  <ul class="entries-list no-bullets no-padding">
    {{#each products}}
      <div class="card" style="width: 18rem;">
       <img src="{{this.picture}}" width="200px" class="card-img-top" alt="...">
       <div class="card-body">
        <h5 class="card-title">{{this.product_name}}</h5>
        <p class="card-text">{{this.price}} руб.</p>
        <a href="#" id="{{id}}" name ="toBusket" class="btn btn-primary ">В корзину </a>
      </div>
</div>
    {{/each}}
  </ul>
</main>

<script src="buscket.js"></script>


