<div class="main">
{{#each products}}
  <div class="oneItem">
    <h5 class="name">{{this.product_name}}</h5>
    <div class="divImg">
      <img
        class="img"
        src={{this.picture}}
        alt=""
      />
    </div>
    <div class="price">{{this.price}} ₽.</div>
    <a href="#" id="{{id}}" name ="toBusket" class="btn btn-primary";>В корзину</a>
  </div>
{{/each}}
</div>




